[package]
name = "conjure-http"
version = "0.7.0"
authors = ["Steven Fackler <sfackler@palantir.com>"]
edition = "2018"
license = "Apache-2.0"
description = "HTTP interfaces for generated Conjure services"
repository = "https://github.com/palantir/conjure-rust"
readme = "../README.md"

[dependencies]
async-trait = "0.1"
bytes = "0.5"
http = "0.2"
serde = "1.0"

conjure-error = { version = "0.7.0", path = "../conjure-error" }
conjure-object = { version = "0.7.0", path = "../conjure-object" }
conjure-serde = { version = "0.7.0", path = "../conjure-serde" }
