version: 2.1

executors:
  rust:
    docker: [{ image: rust:1.33.0 }]

commands:
  restore_target:
    parameters:
      job:
        type: string
    steps:
      - run: rustc --version > ~/rust-version
      - restore_cache: { key: '<< parameters.job >>-target-{{ checksum "Cargo.lock" }}-{{ checksum "~/rust-version" }}' }
  save_target:
    parameters:
      job:
        type: string
    steps:
      - run: rustc --version > ~/rust-version
      - save_cache:
          key: << parameters.job >>-target-{{ checksum "Cargo.lock" }}-{{ checksum "~/rust-version" }}
          paths: [target]

jobs:
  checkout:
    executor: rust
    steps:
      - checkout
      - restore_cache: { key: registry }
      - restore_cache: { key: 'deps-{{ checksum "Cargo.lock" }}' }
      - run: cargo fetch --locked
      - save_cache:
          key: registry-{{ .BuildNum }}
          paths: [/usr/local/cargo/registry/index]
      - save_cache:
          key: deps-{{ checksum "Cargo.lock" }}
          paths:
            - /usr/local/cargo/registry/cache
            - /usr/local/cargo/registry/src
      - persist_to_workspace:
          root: /
          paths:
            - root/project
            - usr/local/cargo/registry

  test:
    executor: rust
    environment:
      RUSTFLAGS: -D warnings
    steps:
      - attach_workspace: { at: / }
      - run: rustup component add clippy rustfmt
      - restore_target: { job: test }
      - run: cargo clippy --all
      - run: cargo fmt --all -- --check
      - run: cargo test --all --all-features
      - run: |
          ./regenerate.sh
          if [[ -n "$(git status --porcelain)" ]]; then
            git status
            exit 1
          fi
      - save_target: { job: test }

  dist-linux:
    executor: rust
    steps:
      - attach_workspace: { at: / }
      - run: apt-get update
      - run: apt-get install -y musl-tools
      - run: rustup target add x86_64-unknown-linux-musl
      - restore_target: { job: dist-linux }
      - run: cargo build --release --target x86_64-unknown-linux-musl -p conjure-rust
      - run: strip target/x86_64-unknown-linux-musl/release/conjure-rust
      - save_target: { job: dist-linux }
      - persist_to_workspace:
          root: /
          paths: root/project/target/x86_64-unknown-linux-musl/release/conjure-rust

  dist-macos:
    macos:
      xcode: 10.1.0
    environment:
      RUSTUP_HOME: /Users/distiller/usr/local/rustup
      CARGO_HOME: /Users/distiller/usr/local/cargo
    working_directory: /Users/distiller/root/project
    steps:
      - attach_workspace: { at: /Users/distiller }
      - run: curl https://sh.rustup.rs -sSf | sh -s -- -y --no-modify-path --default-toolchain 1.33.0
      - run: sudo ln -s $CARGO_HOME/bin/* /usr/local/bin
      - restore_target: { job: dist-macos }
      - run: cargo build --release --target x86_64-apple-darwin -p conjure-rust
      - run: strip target/x86_64-apple-darwin/release/conjure-rust
      - save_target: { job: dist-macos }
      - persist_to_workspace:
          root: /Users/distiller
          paths: root/project/target/x86_64-apple-darwin/release/conjure-rust

  publish:
    executor: rust
    steps:
      - attach_workspace: { at: / }
      - run: |
          name=conjure-rust-$CIRCLE_TAG
          base=$(mktemp -d)
          bin=$base/$name/bin
          mkdir -p $bin
          for arch in x86_64-unknown-linux-musl x86_64-apple-darwin; do
            mkdir $bin/$arch
            cp target/$arch/release/conjure-rust $bin/$arch
          done
          cp .circleci/conjure-rust $bin
          tar cvzf /tmp/$name.tgz -C $base $name
          ./.circleci/bintray-publish.sh /tmp/$name.tgz

          sed -e "s/%VERSION%/$CIRCLE_TAG/g" .circleci/conjure-rust.pom > /tmp/$name.pom
          ./.circleci/bintray-publish.sh /tmp/$name.pom

workflows:
  version: 2
  main:
    jobs:
      - checkout:
          filters: { tags: { only: /.*/ } }
      - test:
          requires: [checkout]
          filters: { tags: { only: /.*/ } }
      - dist-linux:
          requires: [checkout]
          filters:
            tags: { only: /.*/ }
            branches: { ignore: /.*/ }
      - dist-macos:
          requires: [checkout]
          filters:
            tags: { only: /.*/ }
            branches: { ignore: /.*/ }
      - publish:
          requires: [test, dist-linux, dist-macos]
          filters:
            tags: { only: /.*/ }
            branches: { ignore: /.*/ }
