[package]
name = "conjure-object"
version = "0.7.2"
authors = ["Steven Fackler <sfackler@palantir.com>"]
edition = "2018"
license = "Apache-2.0"
description = "Runtime support for generated Conjure objects"
repository = "https://github.com/palantir/conjure-rust"
readme = "../README.md"

[dependencies]
base64 = "0.12"
chrono = { version = "0.4", features = ["serde"] }
lazy_static = "1.0"
ordered-float = { version = "1.0", features = ["serde"] }
regex = { version = "1.3", default-features = false, features = ["std"] }
serde = "1.0"
serde_bytes = "0.11"
uuid = { version = "0.8", features = ["serde"] }

[dev-dependencies]
proptest = "0.10"
